<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.llanc.eowc_system.mapper.WebUserMapper">
  <resultMap id="BaseResultMap" type="cn.llanc.eowc_system.domain.WebUser">
    <!--@mbg.generated-->
    <id column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="u_name" jdbcType="VARCHAR" property="uName" />
    <result column="u_password" jdbcType="VARCHAR" property="uPassword" />
    <result column="u_role" jdbcType="INTEGER" property="uRole" />
    <result column="u_mobile_phone" jdbcType="VARCHAR" property="uMobilePhone" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    u_id, u_name, u_password, u_role, u_mobile_phone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from web_user
    where u_id = #{uId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from web_user
    where u_id = #{uId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="u_id" keyProperty="uId" parameterType="cn.llanc.eowc_system.domain.WebUser" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into web_user (u_name, u_password, u_role, 
      u_mobile_phone)
    values (#{uName,jdbcType=VARCHAR}, #{uPassword,jdbcType=VARCHAR}, #{uRole,jdbcType=INTEGER}, 
      #{uMobilePhone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="u_id" keyProperty="uId" parameterType="cn.llanc.eowc_system.domain.WebUser" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into web_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uName != null">
        u_name,
      </if>
      <if test="uPassword != null">
        u_password,
      </if>
      <if test="uRole != null">
        u_role,
      </if>
      <if test="uMobilePhone != null">
        u_mobile_phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uName != null">
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uPassword != null">
        #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="uRole != null">
        #{uRole,jdbcType=INTEGER},
      </if>
      <if test="uMobilePhone != null">
        #{uMobilePhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.llanc.eowc_system.domain.WebUser">
    <!--@mbg.generated-->
    update web_user
    <set>
      <if test="uName != null">
        u_name = #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uPassword != null">
        u_password = #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="uRole != null">
        u_role = #{uRole,jdbcType=INTEGER},
      </if>
      <if test="uMobilePhone != null">
        u_mobile_phone = #{uMobilePhone,jdbcType=VARCHAR},
      </if>
    </set>
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.llanc.eowc_system.domain.WebUser">
    <!--@mbg.generated-->
    update web_user
    set u_name = #{uName,jdbcType=VARCHAR},
      u_password = #{uPassword,jdbcType=VARCHAR},
      u_role = #{uRole,jdbcType=INTEGER},
      u_mobile_phone = #{uMobilePhone,jdbcType=VARCHAR}
    where u_id = #{uId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-05-16-->
  <select id="findUPasswordByUName" resultType="java.lang.String">
    select u_password
    from web_user
    where u_name=#{uName,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2019-05-16-->
  <select id="findByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from web_user
    where 1=1
    <if test="uId!=null">
      and u_id=#{uId,jdbcType=INTEGER}
    </if>
    <if test="uName!=null">
      and u_name=#{uName,jdbcType=VARCHAR}
    </if>
    <if test="uPassword!=null">
      and u_password=#{uPassword,jdbcType=VARCHAR}
    </if>
    <if test="uRole!=null">
      and u_role=#{uRole,jdbcType=INTEGER}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2019-05-16-->
  <select id="findURoleByUNameAndUPassword" resultType="java.lang.Integer">
    select u_role,u_mobile_phone
    from web_user
    where u_name=#{uName,jdbcType=VARCHAR} and u_password=#{uPassword,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2019-05-19-->
  <select id="selectByUMobilePhone" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from web_user
		where u_mobile_phone=#{uMobilePhone,jdbcType=VARCHAR}
	</select>

<!--auto generated by MybatisCodeHelper on 2019-05-21-->
  <select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from web_user
	</select>

<!--auto generated by MybatisCodeHelper on 2019-05-21-->
  <delete id="deleteByUIdIn">
		delete from web_user
		where u_id in
		<foreach item="item" index="index" collection="uIdCollection"
		         open="(" separator="," close=")">
			#{item,jdbcType=INTEGER}
		</foreach>
	</delete>

<!--auto generated by MybatisCodeHelper on 2019-05-21-->
  <select id="findByUName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from web_user
    where u_name=#{uName,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2019-05-21-->
  <select id="findByUMobilePhone" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from web_user
    where u_mobile_phone=#{uMobilePhone,jdbcType=VARCHAR}
  </select>

</mapper>